# https://coverage.readthedocs.io/en/6.3.2/config.html#configuration-reference

[run]
branch = true

include = 
    blog/api/*

omit =
    migrations
    tests
    manage
    init
    mysite
    blog/views.py