# https://coverage.readthedocs.io/en/6.3.2/config.html#configuration-reference

[run]
branch = true

include = 
    blog/api/*

omit =
    *migrations*
    *manage*
    *init*
    *mysite*
    *blog/views.py*
    *test\blog\api\test_views.py*
    *test*